.mat-expansion-panel-header-description, .mat-expansion-indicator::after{
    color: rgb(255 255 255 / 54%);
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
