<!-- Header -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <!-- Aquí podrías agregar tarjetas de estadísticas si lo necesitas -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Container principal -->
  <div class="container-fluid">
    <!-- Row principal -->
    <div class="row">
      <div class="col">
        <!-- Card principal -->
        <div class="card shadow hola">
          <div class="card-body">
            <!-- Formulario de filtros -->
            <form [formGroup]="administrativeForm" style="position: relative; z-index: 1000;">
              <div class="row py-3">
                <div class="col-sm-12">
                  <mat-accordion class="example-headers-align expansion_notificacion" multi>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header style="background-color: #6f86e3;">
                        <mat-panel-title style="font-weight: 500; color: aliceblue;">
                          Filtros Adicionales de Búsqueda
                        </mat-panel-title>
                      </mat-expansion-panel-header>
  
                      <div class="row justify-content-center mt-3">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Cedentes</mat-label>
                            <input type="text"
                                   placeholder="Seleccione Cedentes"
                                   aria-label="Seleccione"
                                   matInput
                                   [formControl]="cedentsControl"
                                   [matAutocomplete]="cedents"
                                   formControlName="xcedente"
                                   required>
                            <mat-autocomplete #cedents="matAutocomplete">
                              <mat-option *ngFor="let cedent of filteredCedents | async" [value]="cedent">
                                {{ cedent }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Ramo</mat-label>
                            <input type="text"
                                   placeholder="Seleccione Ramo"
                                   aria-label="Seleccione"
                                   matInput
                                   [formControl]="tradeControl"
                                   [matAutocomplete]="trade"
                                   required>
                            <mat-autocomplete #trade="matAutocomplete" (optionSelected)="onTradeSelection($event)">
                              <mat-option *ngFor="let trade of filteredTrade | async" [value]="trade">
                                {{ trade }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </form>

            <mat-tab-group>
              <mat-tab label="Recibos por Cobros Individuales"> 
                <div class="table-responsive py-3" style="position: relative; z-index: 1000;">
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>
                
                    <!-- Column Definitions -->
                    <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay; let i = index">
                      <th mat-header-cell *matHeaderCellDef> {{ columnsName[i] }} </th>
                      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="expand">
                      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="toggleRow(element)">
                          <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                          <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                
                    <ng-container matColumnDef="expandedDetail">
                      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" style="background: #dededeb8;">
                        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                          <div class="expanded-element-detail">
                            <p class="text-center" style="font-weight: 500;">Recibos</p>
                            <table class="details-table">
                              <tr>
                                <th style="text-align: center;" *ngFor="let column of columnsNameDetail">{{ column }}</th>
                                <th style="text-align: center;">Acciones</th>
                              </tr>
                              <tr *ngFor="let detail of expandedDetailData">
                                <td style="text-align: center;">{{ detail.nrecibo }}</td>
                                <td style="text-align: center;">{{ detail.fdesde_rec }}</td>
                                <td style="text-align: center;">{{ detail.fhasta_rec }}</td>
                                <td style="text-align: center;">{{ detail.mprimaext }}</td>
                                <td style="text-align: center;">
                                  <button class="button" (click)="onCobrar(detail)" *ngIf="!detail.fcobro">Cobrar</button>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </td>
                    </ng-container>
                
                    <!-- Table Rows -->
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                        class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                        (click)="toggleRow(element)">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                  </table>
  
                  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
                </div>
              </mat-tab>
              <mat-tab label="Recibos por Diversos Cobros">
                <div class="d-flex py-4">
                  <div class="col-sm-12">
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let cedente of uniqueCedentes" style="background: #6f86e3;;" >
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-weight: 500; color: aliceblue;">
                            {{ cedente }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <div class="table-responsive">
                          <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>
                                  <input type="checkbox" (change)="toggleAllCedents($event, cedente)">
                                </th>
                                <th>Póliza</th>
                                <th>Recibo</th>
                                <th>Fecha Desde</th>
                                <th>Fecha Hasta</th>
                                <th>Tipo de Monto</th>
                                <th>Monto</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of getReceiptsByCedente(cedente)">
                                <td>
                                  <input type="checkbox" [(ngModel)]="item.selected">
                                </td>
                                <td>{{ item.xpoliza }}</td>
                                <td>{{ item.nrecibo }}</td>
                                <td>{{ item.fdesde_rec | date }}</td>
                                <td>{{ item.fhasta_rec | date }}</td>
                                <td>
                                  <select class="form-select" [(ngModel)]="item.montoTipo">
                                    <option value="bruto">Monto Bruto</option>
                                    <option value="neto">Monto Neto</option>
                                  </select>
                                </td>
                                <td>{{ item.mprimaext | currency }}</td>

                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>         
                  </div>

                </div>
              </mat-tab>
            </mat-tab-group>


          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
  
  <ng-template #bottomSheetReceipt>
    <form [formGroup]="administrativeForm">
        <h3 class="text-center">
            <strong>Detalles del cobro</strong>
        </h3>
        
        <div class="row">
            <div class="col-sm-7">
                <mat-form-field class="example-full-width">
                    <mat-label>Banco</mat-label>
                    <input type="text"
                          placeholder="Seleccione Banco"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="bankControl"
                          [matAutocomplete]="bank"
                          >
                    <mat-autocomplete #bank="matAutocomplete" (optionSelected)="onBankSelection($event)">
                      <mat-option *ngFor="let bank of filteredBank | async" [value]="bank">
                        {{ bank }}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-sm-5">
                <mat-form-field class="example-full-width">
                  <mat-label>Referencia</mat-label>
                  <input matInput placeholder="(Últimos 6 dígitos)" maxlength="6" formControlName="xreferencia" type="text">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6 py-3">
            <h3><strong>Monto de Comisión:</strong> {{comisionManmar}}</h3>
          </div>

          <div class="col-md-6">
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
              <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
          </div>
          <!-- <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Monto de Ingreso</mat-label>
              <input matInput placeholder="Ingrese Monto" formControlName="mmonto" type="text" (input)="formatPrima($event)">
            </mat-form-field>
          </div> -->
        </div>


        <div class="d-flex">
          <button class="cta text-center" (click)="onNextStepReceipt()">
            <span>Aceptar</span>
            <svg width="15px" height="10px" viewBox="0 0 13 10">
              <path d="M1,5 L11,5"></path>
              <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
          </button>
        </div>


    </form>
  </ng-template>

  <ng-template #Distribution let-dialogRef="dialogRef">
    <div mat-dialog-title class="d-flex justify-content-between align-items-center">
     
    </div>
    <mat-divider class="my-3"></mat-divider>
    <mat-dialog-content>

    </mat-dialog-content>
  </ng-template> 