<!-- Header -->
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <!-- Aquí podrías agregar tarjetas de estadísticas si lo necesitas -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Container principal -->
  <div class="container-fluid">
    <!-- Row principal -->
    <div class="row">
      <div class="col">
        <!-- Card principal -->
        <div class="card shadow hola">
          <div class="card-body">
            <!-- Formulario de filtros -->
            <form [formGroup]="administrativeForm" style="position: relative; z-index: 1000;">
              <div class="row py-3">
                <div class="col-sm-12">
                  <mat-accordion class="example-headers-align expansion_notificacion" multi>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header style="background-color: #6f86e3;">
                        <mat-panel-title style="font-weight: 500; color: aliceblue;">
                          Filtros Adicionales de Búsqueda
                        </mat-panel-title>
                      </mat-expansion-panel-header>
  
                      <div class="row justify-content-center mt-3">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Cedentes</mat-label>
                            <input type="text"
                                   placeholder="Seleccione Cedentes"
                                   aria-label="Seleccione"
                                   matInput
                                   [formControl]="cedentsControl"
                                   [matAutocomplete]="cedents"
                                   formControlName="xcedente"
                                   required>
                            <mat-autocomplete #cedents="matAutocomplete">
                              <mat-option *ngFor="let cedent of filteredCedents | async" [value]="cedent">
                                {{ cedent }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Ramo</mat-label>
                            <input type="text"
                                   placeholder="Seleccione Ramo"
                                   aria-label="Seleccione"
                                   matInput
                                   [formControl]="tradeControl"
                                   [matAutocomplete]="trade"
                                   required>
                            <mat-autocomplete #trade="matAutocomplete" (optionSelected)="onTradeSelection($event)">
                              <mat-option *ngFor="let trade of filteredTrade | async" [value]="trade">
                                {{ trade }}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </form>

            <mat-tab-group>
              <mat-tab label="Comisiones por Cobrar">
                <div class="d-flex py-4">
                  <div class="col-sm-12">
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let cedente of uniqueCedentes" style="background: #6f86e3;;" (opened)="onPanelOpen(cedente.ccedente, 'Todas')">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-weight: 500; color: aliceblue;">
                            {{ cedente.xcedente }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="row">
                          <div class="col-md-4">
                            <mat-button-toggle-group 
                              name="fontStyle" 
                              aria-label="Font Style"
                              [value]="getDefaultToggleValue(cedente)"
                              (change)="onToggleChange($event.value, cedente)"
                            >
                              <mat-button-toggle value="bruto">Monto Bruto</mat-button-toggle>
                              <mat-button-toggle value="neto">Monto Neto</mat-button-toggle>
                            </mat-button-toggle-group>
                          </div>
                          <div class="col-md-4">
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tipo de Comisiones
                              </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" (click)="filterReceiptsByType('Vencidas')">Vencidas</a></li>
                                <li><a class="dropdown-item" (click)="filterReceiptsByType('Vigentes')">Vigentes</a></li>
                                <li><a class="dropdown-item" (click)="filterReceiptsByType('Próximas')">Próximas</a></li>
                                <li><a class="dropdown-item" (click)="filterReceiptsByType('Todas')">Todas</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="w-70">
                              <input type="text" class="form-control" placeholder="Buscar..." (input)="filterSeguimientosData($event.target.value)">
                            </div>           
                          </div>
                        </div>

                        <div class="table-responsive">

                          <table class="table table-striped custom-table">
                            <thead>
                              <tr>
                                <th>Póliza</th>
                                <th>Asegurado</th>
                                <th>Fecha Desde</th>
                                <th>Fecha Hasta</th>
                                <th>Monto Neto</th>
                                <th>Monto Neto Bs.</th>
                                <th>Abono</th>
                                <th>
                                  <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" />
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of paginatedList">
                                <td>{{ item.xpoliza }}</td>
                                <td>{{ item.xnombre }}</td>
                                <td>{{ item.fdesde_rec | date }}</td>
                                <td>{{ item.fhasta_rec | date }}</td>
                                <td>{{ item.mneto | currency }}</td>
                                <td style="padding: 0.4rem;">
                                  <input type="number" [(ngModel)]="item.mnetobs" class="custom-input">
                                </td>
                                <td>
                                  <button class="btn btn-primary btn-sm custom-small-button" (click)="abonar(item)">Abonar</button>
                                </td>
                                <td>
                                  <input type="checkbox" [(ngModel)]="item.selected" (change)="onItemSelect(item)" />
                                </td>
                              </tr>
                            </tbody>
                          </table>

                          <div class="d-flex justify-content-center mt-4">
                            <ngb-pagination
                            *ngIf="receipt.length > 0"
                            [collectionSize]="receipt.length"
                            [(page)]="pageReceipt"
                            [pageSize]="pageReceiptSize"
                            [maxSize]="1"
                            [previousLabel]="'‹'"
                            [nextLabel]="'›'"
                            [boundaryLinks]="true"
                            [ellipses]="false"
                            (pageChange)="onPageChange()"
                          ></ngb-pagination>
                          </div>
                        </div>
                    
                      </mat-expansion-panel>
                    </mat-accordion>         
                  </div>

                </div>
              </mat-tab>
              <mat-tab label="Ingresar Complementos">
                <div class="d-flex py-4">
                  <div class="col-sm-12">
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let cedente of uniqueCedentesFee" style="background: #6f86e3;;" (opened)="onPanelOpen2(cedente.ccedente)">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-weight: 500; color: aliceblue;">
                            {{ cedente.xcedente }}
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!-- <div class="col-md-6 mx-auto py-3">
                          <div class="w-70">
                            <input type="text" class="form-control" placeholder="Buscar..." (input)="filterComplementosData($event.target.value)">
                          </div>           
                        </div> -->

                        <mat-form-field>
                          <mat-label>Filter</mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                        </mat-form-field>

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>
                          <!-- Columna Crámo -->
                          <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay; let i = index">
                            <th mat-header-cell *matHeaderCellDef> {{ columnsName[i] }} </th>
                            <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                          </ng-container>
                        
                          <ng-container matColumnDef="expand">
                            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-button (click)="toggleRow(element)">
                                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                              </button>
                            </td>
                          </ng-container>
                        
                          <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length" style="background: aliceblue;">
                              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="expanded-element-detail">
                                  <table class="details-table">
                                    <tr *ngIf="currentRecordComplements[element.id]?.length > 0">
                                      <ng-container *ngFor="let column of columnsNameDetail">
                                        <th>{{ column }}</th>
                                      </ng-container>
                                    </tr>
                        
                                    <ng-container *ngIf="currentRecordComplements[element.id]?.length > 0; else noData">
                                      <tr *ngFor="let detail of currentRecordComplements[element.id]">
                                        <td>{{ detail.fcomplemento }}</td>
                                        <td>{{ detail.mcomplemento }}</td>
                                      </tr>
                                    </ng-container>
                        
                                    <ng-template #noData>
                                      <tr>
                                        <td colspan="3" class="text-center">No se ha encontrado complementos</td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" class="text-center">
                                          <button mat-button color="primary" (click)="addComplement(element)">Agregar</button>
                                        </td>
                                      </tr>
                                    </ng-template>
                                  </table>
                                </div>
                              </div>
                            </td>
                          </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                              class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                              (click)="toggleRow(element)">
                          </tr>
                          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                        </table>
                        

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>
                    
                      </mat-expansion-panel>
                    </mat-accordion>     
                  </div>

                </div>
              </mat-tab>
              <mat-tab label="Gestionar Distribución de Comisiones">
                <div class="d-flex py-4">
                  <div class="col-sm-12">
       
                  </div>

                </div>
              </mat-tab>
            </mat-tab-group>


          </div> 
        </div> 
      </div> 
    </div> 
  </div> 

  <button
    class="btn-flotante btn-flotante-2" 
    mat-raised-button
    style="background: #6f86e3;" 
    *ngIf="amount"
    [matMenuTriggerFor]="menu"
    >
    <div class="d-flex" style="gap: 15px;margin-top: 10px;">
      <i class= "fi fi-rs-coins" style="font-size: 20px;color: white;"></i>
      <p style="color: white;font-weight: 500;">Monto Total: {{totalMontoNeto | currency}}</p>
    </div>
    
  </button>

  <mat-menu #menu="matMenu">
    <form [formGroup]="administrativeForm" (click)="$event.stopPropagation()">
      <div class="col-sm-12">
        <mat-form-field class="example-full-width">
          <mat-label>Banco</mat-label>
          <input type="text"
                 placeholder="Seleccione Banco"
                 aria-label="Seleccione"
                 matInput
                 [formControl]="bankControl"
                 [matAutocomplete]="bank"
                 >
          <mat-autocomplete #bank="matAutocomplete" (optionSelected)="onBankSelection($event)">
            <mat-option *ngFor="let bank of filteredBank | async" 
                        [value]="bank"
                        (click)="$event.stopPropagation()">
              {{ bank }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-12">
        <mat-form-field class="example-full-width">
          <mat-label>Referencia</mat-label>
          <input matInput placeholder="(Últimos 6 dígitos)" maxlength="6" formControlName="xreferencia" type="text" (change)="validateCobro()">
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-center">
        <button
        mat-raised-button
        style="background: #6f86e3;" 
        (click)="validateCobro()"
        >
        <div class="d-flex" style="gap: 15px;margin-top: 10px;">
          <i class= "fi fi-ss-deposit-alt" style="font-size: 20px;color: white;"></i>
          <p style="color: white;font-weight: 500;">Aceptar</p>
        </div>
        
      </button>
      </div>

    </form>
  </mat-menu>

  <ng-template #Complemento let-dialogRef="dialogRef">
    <div mat-dialog-title class="d-flex justify-content-between align-items-center">
      <h2 style="font-weight: 500;">Complementos</h2>
    </div>
    <mat-divider class="my-3"></mat-divider>
    <mat-dialog-content>
      <!-- <hr style="background: black;"> -->
      <div class="row">
        <div class="col-md-12 ">
          <form [formGroup]="administrativeForm">
            <div class="row">
              <div class="col-md-6">
                <h5 class="text-center"><strong>Fecha Complemento</strong></h5>
                <div>
                  <input type="date" formControlName="fcomplemento" class="custom-input">
                </div>
              </div>
              <div class="col-md-6">
                <h5 class="text-center"><strong>Monto del Complemento</strong></h5>
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="mcomplemento" type="text" (input)="formatPrima($event)">
                </mat-form-field>
              </div>
            </div>

            <div class="d-flex justify-content-center py-2">
              <button class="btn btn-primary btn-sm" style="background: #6f86e3;" (click)="validateComplement()">
                Aceptar
              </button>
            </div>
          </form>

        </div>

      </div>
    </mat-dialog-content>
  </ng-template>

  <ng-template #Abonar let-dialogRef="dialogRef">
    <div mat-dialog-title class="d-flex justify-content-between align-items-center">
     <label>Abonos</label>
    </div>
    <mat-divider></mat-divider>
    <mat-dialog-content>
      <table class="table custom-table">
        <thead>
          <tr>
            <th>Fecha de Abono</th>
            <th>Monto de Abono Bs.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let abono of abonosList">
            <td style="padding: 0.4rem;">
              <input 
                type="date" 
                [(ngModel)]="abono.fmovimiento" 
                class="custom-input" 
                disabled />
            </td>
            <td style="padding: 0.4rem;">
              <input 
                type="number" 
                [(ngModel)]="abono.mpagado" 
                class="custom-input" 
                disabled />
            </td>
          </tr>
          <!-- Fila adicional para nuevo abono -->
          <tr>
            <td style="padding: 0.4rem;">
              <input 
                type="date" 
                [(ngModel)]="newAbono.fmovimiento" 
                class="custom-input" />
            </td>
            <td style="padding: 0.4rem;">
              <input 
                type="text" 
                [(ngModel)]="newAbono.mpagado" 
                class="custom-input " 
                (change)="validarNuevoAbono()"
                />
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-end w-100">
        <button class="btn btn-primary btn-sm" (click)="calcularAbonoRestante()" *ngIf="abonosList.length > 0">Calcular Restante</button>
        <button class="btn btn-primary btn-sm" (click)="guardarNuevoAbono()">Aceptar</button>
      </div>

      <div class="d-flex justify-content-center">
        <p><strong>Neto en Bs: </strong>{{netoBs}}</p>
      </div>
      
    
    </mat-dialog-content>
  </ng-template> 
  
  <button matTooltip="Guardar" matTooltipPosition="left" class="btn-flotante btn-flotante-3" mat-fab style="background: #334ebd;" *ngIf="newComplementAdded" (click)="onSubmitComplement()">
    <mat-icon>save</mat-icon>
  </button>