<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">

        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow hola">
          <div class="card-body">
            <form [formGroup]="emissionsFormGroup" style="position: relative; z-index: 1000;">
              <div class="container row">
               
                  <hr class="black-hr">
                  <h1 class="mt-3" style="font-family: system-ui;">Datos Técnicos</h1>
                  <hr class="black-hr">
                
              </div>
                
              <div class="row justify-content-center mt-5">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Cedentes</mat-label>
                    <input type="text"
                           placeholder="Seleccione Cedentes"
                           aria-label="Seleccione"
                           matInput
                           [formControl]="cedentsControl"
                           [matAutocomplete]="cedents"
                           formControlName="xcedente"
                           required>
                           <mat-autocomplete #cedents="matAutocomplete">
                            <mat-option *ngFor="let cedents of filteredCedents | async" [value]="cedents">
                              {{ cedents }}
                            </mat-option>
                          </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Ramo</mat-label>
                    <input type="text"
                           placeholder="Seleccione Ramo"
                           aria-label="Seleccione"
                           matInput
                           [formControl]="tradeControl"
                           [matAutocomplete]="trade"
                           required>
                           <mat-autocomplete #trade="matAutocomplete" (optionSelected)="onTradeSelection($event)">
                            <mat-option *ngFor="let trade of filteredTrade | async" [value]="trade">
                              {{ trade }}
                            </mat-option>
                          </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Moneda</mat-label>
                    <input type="text"
                           placeholder="Seleccione Moneda"
                           aria-label="Seleccione"
                           matInput
                           [formControl]="coinsControl"
                           [matAutocomplete]="coins"
                           formControlName="xmoneda"
                           required>
                    <mat-autocomplete #coins="matAutocomplete">
                      <mat-option *ngFor="let coin of filteredCoins | async" [value]="coin">
                        {{ coin }} <!-- Mostrar el valor de la moneda -->
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center py-2">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha Desde</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fdesde" (dateChange)="calcularFechaHasta($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Fecha Hasta</mat-label>
                    <input matInput [matDatepicker]="fhastaP" formControlName="fhasta">
                    <mat-datepicker-toggle matSuffix [for]="fhastaP"></mat-datepicker-toggle>
                    <mat-datepicker #fhastaP></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center py-3">
                <div class="col-md-6 mx-auto">
                  
                    <p class="text-center">
                      <strong>Datos del Asegurado</strong>
                    </p>
                  
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <mat-label>Clientes</mat-label>
                        <input type="text"
                              placeholder="Seleccione Clientes"
                              aria-label="Seleccione"
                              matInput
                              [formControl]="clientsControl"
                              [matAutocomplete]="clients"
                              formControlName="xcliente"
                              required>
                              <mat-autocomplete #clients="matAutocomplete" (optionSelected)="onClientSelection($event)">
                                <mat-option *ngFor="let clients of filteredClients | async" [value]="clients">
                                  {{ clients }}
                                </mat-option>
                              </mat-autocomplete>
                      </mat-form-field>
                    </div>
                 
                    <div class="col-md-4">
                      <mat-form-field style="display: block">
                        <mat-label>Identificación</mat-label>
                        <mat-select formControlName="itipodoc">
                          <mat-option value="V">V</mat-option>
                          <mat-option value="P">P</mat-option>
                          <mat-option value="E">E</mat-option>
                          <mat-option value="J">J</mat-option>
                          <mat-option value="C">C</mat-option>
                          <mat-option value="G">G</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <mat-label>Documento de Identidad</mat-label>
                        <input matInput placeholder="Documento de Identidad" formControlName="xdoc_identificacion" >
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12" *ngIf="insuredInfo">
                      <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <p class="text-center">
                                <strong>Información del Asegurado</strong>
                              </p>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                      
                          <div class="row">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Correo Electrónico</mat-label>
                                <textarea matInput placeholder="Coloque Correo Electrónico" formControlName="xcorreo_asegurado"></textarea>
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col">
                              <mat-form-field class="example-full-width">
                                <mat-label>Teléfono</mat-label>
                                <input matInput placeholder="Coloque Número Telefónico" formControlName="xtelefono_asegurado" (change)="activateWhatsApp()">
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-2" *ngIf="WhatsApp">
                              <button mat-mini-fab matTooltip="Enviar mensaje por WhatsApp" matTooltipPosition="right" sad mat-fab style="background: #06be3d;" (click)="sendWhatsAppMessage()">
                                <i class="fi fi-brands-whatsapp" style="font-size: 24px;"></i>
                              </button>
                            </div>
                          </div>
  
                          <!-- <div style="display: flex; justify-content: end;">
                            <div class="col">
                              <mat-form-field class="example-full-width">
                                <mat-label>Teléfono</mat-label>
                                <input matInput placeholder="Coloque Número Telefónico" formControlName="xtelefono_asegurado" (change)="activateWhatsApp()">
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-2" *ngIf="WhatsApp">
                              <button mat-mini-fab matTooltip="Enviar mensaje por WhatsApp" matTooltipPosition="right" sad mat-fab style="background: #06be3d;" (click)="sendWhatsAppMessage()">
                                <i class="fi fi-brands-whatsapp" style="font-size: 24px;"></i>
                              </button>
                            </div>
                          </div> -->
                      
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  </div>  


                </div>
                <div class="col-md-6">
                  <p class="text-center">
                    <strong>Datos del Tomador</strong>
                  </p>

                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <mat-label>Tomadores</mat-label>
                        <input type="text"
                              placeholder="Seleccione Tomadores"
                              aria-label="Seleccione"
                              matInput
                              [formControl]="takersControl"
                              [matAutocomplete]="takers"
                              formControlName="xtomador"
                              required>
                              <mat-autocomplete #takers="matAutocomplete" (optionSelected)="onTakersSelection($event)">
                                <mat-option *ngFor="let takers of filteredTakers | async" [value]="takers">
                                  {{ takers }}
                                </mat-option>
                              </mat-autocomplete>
                      </mat-form-field>
                    </div>
                 
                    <div class="col-sm-12 col-md-4">
                      <mat-form-field style="display: block">
                        <mat-label>Identificación</mat-label>
                        <mat-select formControlName="itipodoc_t">
                          <mat-option value="V">V</mat-option>
                          <mat-option value="P">P</mat-option>
                          <mat-option value="E">E</mat-option>
                          <mat-option value="J">J</mat-option>
                          <mat-option value="C">C</mat-option>
                          <mat-option value="G">G</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-8">
                      <mat-form-field class="example-full-width">
                        <mat-label>Documento de Identidad</mat-label>
                        <input matInput placeholder="Documento de Identidad" formControlName="xdoc_identificacion_t" (change)="rif()">
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12" *ngIf="takersInfo">
                      <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <p class="text-center">
                                <strong>Información del Tomador</strong>
                              </p>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                      
                          <div class="row">
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Profesión</mat-label>
                                <textarea matInput placeholder="Coloque la Profesión" formControlName="xprofesion"></textarea>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                  <mat-label>Estado</mat-label>
                                  <input type="text"
                                         placeholder="Seleccione Estado"
                                         aria-label="Seleccione"
                                         matInput
                                         [formControl]="stateControl"
                                         [matAutocomplete]="state"
                                         formControlName="xestado"
                                         >
                                         <mat-autocomplete #state="matAutocomplete" (optionSelected)="onStateSelection($event)">
                                          <mat-option *ngFor="let state of filteredState | async" [value]="state">
                                            {{ state }}
                                          </mat-option>
                                        </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width" >
                                    <mat-label>Ciudad</mat-label>
                                    <input type="text"
                                          placeholder="Seleccione Ciudad"
                                          aria-label="Seleccione"
                                          matInput
                                          [formControl]="cityControl"
                                          [matAutocomplete]="city"
                                          formControlName="xciudad"
                                          >
                                          <mat-autocomplete #city="matAutocomplete" (optionSelected)="onCitySelection($event)">
                                            <mat-option *ngFor="let city of filteredCity | async" [value]="city">
                                              {{ city }}
                                            </mat-option>
                                          </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Rif</mat-label>
                                <input matInput placeholder="Rif" formControlName="xrif">
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <mat-form-field class="example-full-width">
                                <mat-label>Domicilio</mat-label>
                                <input matInput placeholder="Domicilio" formControlName="xdomicilio">
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Zona Postal</mat-label>
                                <input matInput placeholder="Coloque Zona Postal" formControlName="xzona_postal">
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12 col-md-8">
                              <mat-form-field class="example-full-width">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Coloque Correo" formControlName="xcorreo">
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Teléfono</mat-label>
                                <input matInput placeholder="Coloque Teléfono" formControlName="xtelefono">
                              </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                              <mat-form-field class="example-full-width">
                                <mat-label>Dirección</mat-label>
                                <textarea matInput placeholder="Coloque Dirección" formControlName="xdireccion"></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                      
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>

                  </div>  
                </div>
              </div>

              <div class="col-md-6 mx-auto py-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Póliza</mat-label>
                  <input matInput placeholder="Coloque el número de Póliza" formControlName="xpoliza">
                </mat-form-field>
              </div>

              <div class="row justify-content-center py-3">
                <div class="col-md-4 mx-auto">
                  <mat-form-field class="example-full-width">
                    <mat-label>Suma Asegurada</mat-label>
                    <input matInput placeholder="Coloque Suma Asegurada" formControlName="msuma_aseg" type="text" (input)="formatWithSeparator($event)">
                  </mat-form-field>
                </div>
                <div class="col-md-4 mx-auto">
                  <mat-form-field class="example-full-width">
                    <mat-label>Prima</mat-label>
                    <input matInput placeholder="Coloque Prima" formControlName="mprima" type="text" (input)="formatPrima($event)" (change)="receipt()">
                  </mat-form-field>
                </div>
                <div class="col-md-4 mx-auto">
                  <mat-form-field class="example-full-width">
                    <mat-label>Metodología de Pago</mat-label>
                    <input type="text"
                          placeholder="Seleccione Metodología de Pago"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="methodOfPaymentControl"
                          [matAutocomplete]="method"
                          formControlName="xmetodologiapago"
                          required>
                    <mat-autocomplete #method="matAutocomplete" (optionSelected)="onMethodOfPaymentSelection($event)">
                      <mat-option *ngFor="let Payment of filteredMethodOfPayment | async" [value]="Payment">
                        {{ Payment }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>

              <div *ngIf="containerAuto">
                <app-container-automobile 
                    [receiptData]="receiptData">
                </app-container-automobile>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button matTooltip="Guardar" matTooltipPosition="left" class="btn-flotante btn-flotante-3" mat-fab style="background: #334ebd;" >
    <mat-icon>save</mat-icon>
  </button>
  
  