<!-- Page content -->
<div class="container-fluid ">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow hola">
        <div class="card-body">
          <form [formGroup]="emissionsFormGroup" style="position: relative; z-index: 1000;">
            <div class="row w-100">
              <h1 class="mt-3 text-center negrita-oscura" style="font-family: system-ui;">Datos Técnicos</h1>
              <hr class="black-hr">
              
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Cedentes</mat-label>
                  <input type="text"
                          placeholder="Seleccione Cedentes"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="cedentsControl"
                          [matAutocomplete]="cedents"
                          formControlName="xcedente"
                          required>
                          <mat-autocomplete #cedents="matAutocomplete" (optionSelected)="onCedentsSelection($event)">
                          <mat-option *ngFor="let cedents of filteredCedents | async" [value]="cedents">
                            {{ cedents }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Ramo</mat-label>
                  <input type="text"
                          placeholder="Seleccione Ramo"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="tradeControl"
                          [matAutocomplete]="trade"
                          required>
                          <mat-autocomplete #trade="matAutocomplete" (optionSelected)="onTradeSelection($event)">
                          <mat-option *ngFor="let trade of filteredTrade | async" [value]="trade">
                            {{ trade }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Producto</mat-label>
                  <input type="text"
                          placeholder="Seleccione Producto"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="productControl"
                          [matAutocomplete]="product"
                          required>
                          <mat-autocomplete #product="matAutocomplete" (optionSelected)="onProductSelection($event)">
                          <mat-option *ngFor="let product of filteredProduct | async" [value]="product">
                            {{ product }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Moneda</mat-label>
                  <input type="text"
                          placeholder="Seleccione Moneda"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="coinsControl"
                          [matAutocomplete]="coins"
                          formControlName="xmoneda"
                          required>
                  <mat-autocomplete #coins="matAutocomplete" (optionSelected)="onCoinSelection($event)">
                    <mat-option *ngFor="let coin of filteredCoins | async" [value]="coin">
                      {{ coin }} <!-- Mostrar el valor de la moneda -->
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Fecha Desde</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fdesde" (dateChange)="calcularFechaHasta($event)" readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Fecha Hasta</mat-label>
                  <input matInput [matDatepicker]="fhastaP" formControlName="fhasta" readonly>
                  <mat-datepicker-toggle matSuffix [for]="fhastaP"></mat-datepicker-toggle>
                  <mat-datepicker #fhastaP></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-start py-3">
              <p class="text-center negrita-oscura w-100">
                <strong>Datos del Asegurado</strong>
              </p>
              <div class="col-md-11">
                <mat-form-field class="example-full-width">
                  <mat-label>Asegurado</mat-label>
                  <input type="text"
                        placeholder="Seleccione Asegurados"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="insuranceControl"
                        [matAutocomplete]="insurance"
                        formControlName="xasegurado"
                        required>
                        <mat-autocomplete #insurance="matAutocomplete" (optionSelected)="onInsuranceSelection($event)">
                          <mat-option *ngFor="let insurance of filteredInsurance | async" [value]="insurance">
                            {{ insurance }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-1 d-flex justify-content-end">
                <button type="button" matTooltip="SOLO en caso de que NO este registrado anteriormente." matTooltipPosition="right" mat-button mat-fab color="priamry" (click)="newAsegurado = true">
                  <mat-icon>add</mat-icon>
                </button>
                <div id="item-create" class="item-create" *ngIf="newAsegurado" (click)="checkClickOutside($event, 'newAsegurado')">
                  <app-item-form [dataComponent]="clientDataComponent" (created)="getClients(); this.newAsegurado = false"></app-item-form>
                </div>
              </div>
            </div>
            <div class="row justify-content-start py-3">
              <mat-checkbox [checked]="clientDifferent" (change)="clientDifferent = !clientDifferent">¿El tomador es diferente al asegurado?</mat-checkbox>
            </div>
            <div *ngIf="clientDifferent" class="row justify-content-start py-3">
              <p class="text-center negrita-oscura">
                <strong>Datos del Tomador</strong>
              </p>
              <div class="col-md-11">
                <mat-form-field class="example-full-width">
                  <mat-label>Tomador</mat-label>
                  <input type="text"
                  placeholder="Seleccione Tomadores"
                  aria-label="Seleccione"
                  matInput
                  [formControl]="takersControl"
                  [matAutocomplete]="takers"
                  formControlName="xtomador"
                  required>
                  <mat-autocomplete #takers="matAutocomplete" (optionSelected)="onTakersSelection($event)">
                    <mat-option *ngFor="let takers of filteredTakers | async" [value]="takers">
                      {{ takers }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-1 d-flex justify-content-end">
                <button type="button" matTooltip="SOLO en caso de que NO este registrado anteriormente." matTooltipPosition="right" mat-button mat-fab color="priamry" (click)="newTomador = true">
                  <mat-icon>add</mat-icon>
                </button>
                <div id="item-create" class="item-create" *ngIf="newTomador" (click)="checkClickOutside($event, 'newTomador')">
                  <app-item-form [dataComponent]="clientDataComponent" (created)="getClients(); this.newTomador = false"></app-item-form>
                </div>
              </div>
            </div>

            <div class="row justify-content-start py-3">
              <div class="col-md-6 mx-auto py-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Póliza</mat-label>
                  <input matInput placeholder="Coloque el número de Póliza" formControlName="xpoliza" (change)="searchPolicy()">
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-center py-3">
              <div class="col-md-4 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Suma Asegurada</mat-label>
                  <input matInput placeholder="Coloque Suma Asegurada" formControlName="msuma_aseg" type="text" (input)="formatWithSeparator($event)" (change)="SumBs()">
                </mat-form-field>
              </div>
              <div class="col-md-4 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Prima</mat-label>
                  <input matInput placeholder="Coloque Prima" formControlName="mprima" type="text" (input)="formatPrima($event)" (change)="SumBs()">
                </mat-form-field>
              </div>
              <div class="col-md-4 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Metodología de Pago</mat-label>
                  <input type="text"
                        placeholder="Seleccione Metodología de Pago"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="methodOfPaymentControl"
                        [matAutocomplete]="method"
                        formControlName="xmetodologiapago"
                        required>
                  <mat-autocomplete #method="matAutocomplete" (optionSelected)="onMethodOfPaymentSelection($event)">
                    <mat-option *ngFor="let Payment of filteredMethodOfPayment | async" [value]="Payment">
                      {{ Payment }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-start py-3">
              <div class="col-md-4 mx-auto" *ngIf="ActivaSumBs">
                <mat-form-field class="example-full-width">
                  <mat-label>Suma Asegurada en Bs.</mat-label>
                  <input matInput formControlName="msuma_aseg_bs" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-4 mx-auto" *ngIf="ActivaPriBs">
                <mat-form-field class="example-full-width">
                  <mat-label>Prima en Bs.</mat-label>
                  <input matInput formControlName="mprima_bs" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-4 mx-auto">
                <i class="fi fi-tr-money-transfer-coin-arrow" style="font-size: 20px;"></i>
                &nbsp;<strong>Tasa de Cambio:</strong> {{bcv}}
              </div>
            </div>


            <div *ngIf="containerAuto">
              <app-container-automobile 
                  [receiptData]="receiptData">
              </app-container-automobile>
            </div>

            <div *ngIf="containerGeneric">
              <app-container-generic 
                  [receiptData]="receiptData">
              </app-container-generic>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


  
  