
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

  .black-hr {
    border: 0;
    border-top: 1px solid black;
  }

  .black-hr2 {
    border: 0;
    border-top: 1px solid black;
  }

  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .negrita-oscura {
    font-weight: 500; /* Puedes ajustar el valor de opacidad para cambiar el nivel de oscuridad */
  }