<div class="row justify-content-center">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon>checklist</mat-icon>
               Coberturas
        </ng-template>
        <form [formGroup]="genericFormGroup">
            <div class="d-flex justify-content-center py-3">
                <div class="col-sm-8">
                  <mat-form-field class="example-full-width">
                    <mat-label>Coberturas</mat-label>
                    <input type="text"
                          placeholder="Seleccione Coberturas"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="coverageControl"
                          [matAutocomplete]="coverage"
                          >
                          <mat-autocomplete #coverage="matAutocomplete" (optionSelected)="onCoverageSelection($event)">
                            <mat-option *ngFor="let coverage of filteredCoverage | async" [value]="coverage">
                              {{ coverage }}
                            </mat-option>
                          </mat-autocomplete>
                  </mat-form-field>
                </div>
            </div>
        </form>
      </mat-tab>
      <mat-tab>  
        <ng-template mat-tab-label>
            <mat-icon>receiptlong</mat-icon>
            Recibos
        </ng-template>
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Desde</strong></th>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Hasta</strong></th>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Monto</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let item of receiptList">
              <td style="white-space: nowrap">{{ item.fdesde_rec }}</td>
              <td style="white-space: nowrap">{{ item.fhasta_rec }}</td>
              <td style="white-space: nowrap">{{ item.mprima }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab> 
        <ng-template mat-tab-label>
          <i class="fi fi-sr-users" style="font-size: 20px;"></i>
          &nbsp;Participaciones
        </ng-template> 
        <form [formGroup]="genericFormGroup">
          <!-- <div style="display: flex; flex-direction: column; align-items: center;"> -->
            <!-- Primer grupo -->
            <!-- <div style="display: flex; text-align: center;">
              <div class="col-sm-9 mx-auto py-3"> 
                <mat-form-field class="example-full-width">
                  <mat-label>Productor</mat-label>
                  <input matInput formControlName="xproductor">
                </mat-form-field>
              </div>
          
              <div class="col-sm-2 mx-auto py-3"> 
                <mat-form-field class="example-full-width">
                  <mat-label>Comisión</mat-label>
                  <input matInput formControlName="pcomision_p" (change)="commissionSumValidator2()">
                </mat-form-field>
              </div>

              <div class="col-sm-3 mx-auto py-3"> 
                <mat-form-field class="example-full-width">
                  <mat-label>Monto Prima por Comisión</mat-label>
                  <input matInput formControlName="mcomision_p">
                </mat-form-field>
                <div class="texto-pequeno">
                  <h5 style="margin: -13px 0px -10px;">Monto en Bs: {{mcomision_p_bs}}</h5>
                </div>
              </div>

              <i class="fi fi-rs-trash" style="font-size: 20px;"></i>
            </div> -->

            <!-- <div class="container">
              <div class="group">
                <div class="field">
                  <mat-form-field class="example-full-width">
                    <mat-label>Productor</mat-label>
                    <input matInput formControlName="xproductor">
                  </mat-form-field>
                </div>
            
                <div class="field">
                  <mat-form-field class="example-full-width">
                    <mat-label>Comisión</mat-label>
                    <input matInput formControlName="pcomision_p" (change)="commissionSumValidator2()">
                  </mat-form-field>
                </div>
            
                <div class="field">
                  <mat-form-field class="example-full-width">
                    <mat-label>Monto Prima por Comisión</mat-label>
                    <input matInput formControlName="mcomision_p">
                  </mat-form-field>
                  <div class="small-text">
                    <h5>Monto en Bs: {{mcomision_p_bs}}</h5>
                  </div>
                </div>
            
                <i class="fi fi-rs-trash icon-trash"></i>
              </div>
            </div> -->
          
            <!-- Segundo grupo -->
            <!-- <div style="display: flex; text-align: center;">
              <div class="col-sm-9 mx-auto py-3"> 
                <mat-form-field class="example-full-width">
                  <mat-label>Ejecutivos</mat-label>
                  <input type="text"
                        placeholder="Seleccione Ejecutivos"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="executiveControl"
                        [matAutocomplete]="executive"
                        formControlName="xejecutivo"
                        required>
                  <mat-autocomplete #executive="matAutocomplete" (optionSelected)="onExecutiveSelection($event)">
                    <mat-option *ngFor="let executive of filteredExecutive | async" [value]="executive">
                      {{ executive }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-sm-2 mx-auto py-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Comisión</mat-label>
                  <input matInput placeholder="Coloque Comision para Ejecutivo" formControlName="pcomision_e" (change)="commissionSumValidator2()">
                </mat-form-field>
              </div>
              <div class="col-sm-3 mx-auto py-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Monto Prima por Comisión</mat-label>
                  <input matInput formControlName="mcomision_e">
                </mat-form-field>
                <div class="texto-pequeno">
                  <h5 style="margin: -13px 0px -10px;">Monto en Bs: {{mcomision_e_bs}}</h5>
                </div>
              </div>
            </div>
           -->
            <!-- Tercer grupo -->
            <!-- <div style="display: flex; text-align: center;" *ngIf="Agents"> -->
              <!-- <div class="col-sm-9 mx-auto"> 
                <mat-form-field class="example-full-width">
                  <mat-label>Agentes</mat-label>
                  <mat-select [formControl]="agentsControl" multiple (selectionChange)="onSelectionChange($event)">
                    <mat-select-trigger>
                      {{ agentsControl.value?.[0]?.value || '' }}
                      <span *ngIf="(agentsControl.value?.length || 0) > 1" class="example-additional-selection">
                        (+{{ (agentsControl.value?.length || 0) - 1 }} {{ (agentsControl.value?.length || 0) === 2 ? 'other' : 'others' }})
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let agent of agentsList" [value]="agent">
                      {{ agent.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <!-- <div class="col-sm-9 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Agentes</mat-label>
                  <input type="text"
                        placeholder="Seleccione Agente"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="agentsControl"
                        [matAutocomplete]="agents"
                        required>
                  <mat-autocomplete #agents="matAutocomplete" (optionSelected)="onAgentsSelection($event)">
                    <mat-option *ngFor="let agents of filteredAgents | async" [value]="agents">
                      {{ agents }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-sm-2 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Comisión</mat-label>
                  <input matInput placeholder="Coloque Comision para Agente" formControlName="pcomision_a" (change)="commissionSumValidator2()">
                </mat-form-field>
              </div>
              <div class="col-sm-3 mx-auto"> 
                <mat-form-field class="example-full-width">
                  <mat-label>Monto Prima por Comisión</mat-label>
                  <input matInput formControlName="mcomision_a">
                </mat-form-field>
                <div class="texto-pequeno">
                  <h5 style="margin: -13px 0px -10px;">Monto en Bs: {{mcomision_a_bs}}</h5>
                </div>
              </div> -->
              <!-- <div class="col-sm-6 mx-auto">
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <div *ngFor="let comision of comisionesDivididas; let i = index" class="mx-auto">
                    <mat-form-field class="example-full-width">
                      <mat-label>Comisión para {{ comision.valor }}</mat-label>
                      <input matInput type="text" placeholder="Coloque Comision para Agente" [value]="comision.comision" [(ngModel)]="comision.comision" (input)="onCommissionChange(comisionesDivididas[i].comision, i)" (change)="commisionSumValidatorAgents()">
                    </mat-form-field>
                  </div>
                </div>
              </div> -->
            <!-- </div> -->
          <!-- </div> -->

          <div class="container">
            <!-- Primer grupo -->
            <div class="group" style="margin-top: 25px;">
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Productor</mat-label>
                  <input matInput formControlName="xproductor">
                </mat-form-field>
              </div>
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Comisión</mat-label>
                  <input matInput formControlName="pcomision_p" (change)="commissionSumValidator2()">
                </mat-form-field>
              </div>
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Monto Prima por Comisión</mat-label>
                  <input matInput formControlName="mcomision_p">
                </mat-form-field>
                <div class="small-text">
                  <h5>Monto en Bs: {{mcomision_p_bs}}</h5>
                </div>
              </div>
            </div> 
          
            <!-- Segundo grupo -->
            <div class="group">
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Ejecutivos</mat-label>
                  <input type="text"
                        placeholder="Seleccione Ejecutivos"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="executiveControl"
                        [matAutocomplete]="executive"
                        formControlName="xejecutivo"
                        required>
                  <mat-autocomplete #executive="matAutocomplete" (optionSelected)="onExecutiveSelection($event)">
                    <mat-option *ngFor="let executive of filteredExecutive | async" [value]="executive">
                      {{ executive }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Comisión</mat-label>
                  <input matInput placeholder="Coloque Comision para Ejecutivo" formControlName="pcomision_e" (change)="commissionSumValidator2()">
                </mat-form-field>
              </div>
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Monto Prima por Comisión</mat-label>
                  <input matInput formControlName="mcomision_e">
                </mat-form-field>
                <div class="small-text">
                  <h5>Monto en Bs: {{mcomision_e_bs}}</h5>
                </div>
              </div>

              <i class="fi fi-rs-trash icon-trash" 
                 *ngIf="activaEliminarEjecutivo"
                 (click)="removeRecord('ejecutivo')"></i>
            </div>
          
            <!-- Tercer grupo -->
            <div class="group" *ngIf="Agents">
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Agentes</mat-label>
                  <input type="text"
                        placeholder="Seleccione Agente"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="agentsControl"
                        [matAutocomplete]="agents"
                        formControlName="xagente"
                        required>
                  <mat-autocomplete #agents="matAutocomplete" (optionSelected)="onAgentsSelection($event)">
                    <mat-option *ngFor="let agent of filteredAgents | async" [value]="agent">
                      {{ agent }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Comisión</mat-label>
                  <input matInput placeholder="Coloque Comision para Agente" formControlName="pcomision_a" (change)="commissionSumValidator2()">
                </mat-form-field>
              </div>
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Monto Prima por Comisión</mat-label>
                  <input matInput formControlName="mcomision_a">
                </mat-form-field>
                <div class="small-text">
                  <h5>Monto en Bs: {{mcomision_a_bs}}</h5>
                </div>
              </div>
              <i class="fi fi-rs-trash icon-trash" 
                 *ngIf="activaEliminarAgente"
                 (click)="removeRecord('agente')"></i>
            </div>
           
          </div>
          
          
          <div class="text-center py-3">
            <p><strong>Total Monto a Distribuir: </strong>{{MontoADistribuir}}</p>
            <p><strong>Total Porcentaje de Comisión: </strong>{{commissionSum}}%</p>
          </div>
        </form>
      </mat-tab>
      <mat-tab>  
        <ng-template mat-tab-label>
            <mat-icon>receiptlong</mat-icon>
            Documentos
        </ng-template>

        <div class="container" style="padding: 0 24px 24px 24px;">
          <button type="button" style="padding: 10px 14px; position: absolute; top: 10px; right: 10px;" class="btn btn-primary m-0" (click)="addFile('newFile')">
            <i class="fa-solid fa-plus"></i>
          </button>
            
          <div style="margin-top: 3.5rem;" *ngIf="documentosList.length > 0">
  
            <div *ngFor="let nota of documentosList | slice: (pageNotas - 1) * pageSize : (pageNotas - 1) * pageNotasSize + pageNotasSize; index as i" class="row mt-4 added-note">
              <form class="col-md-5 d-flex align-items-center">  
                <input [disabled]="nota.type == 'create' ? false : true" class="input-mat" type="text"
                placeholder="Titulo del Documento"
                [(ngModel)]="nota.xtitulo"
                [value]="nota.xtitulo"
                matInput
                >
              </form>
              <div class="col-md-6 d-flex align-items-center">
                <a style="text-decoration: none;" target="_blank" [href]="nota.xruta">
                  <span style="color: black;">{{nota.xnombrenota}}</span>
                  <i class="ml-1 fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
              <div *ngIf="nota.type == 'create'" class="col-md-1 d-flex align-items-center justify-content-end">
                <button (click)="removeNote(i)" style="padding: 10px 14px;" class="btn btn-primary">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
            <div style="display: grid;place-items: center;" class="mt-4">
              <ngb-pagination
              *ngIf="documentosList.length > 0"
              [collectionSize]="documentosList.length" 
              [(page)]="pageNotas" 
              [pageSize]="pageNotasSize"
              [maxSize]="1"
              [previousLabel]="'‹'"
              [nextLabel]="'›'"
              [boundaryLinks]="true"
              [ellipses]="false"
              
              ></ngb-pagination>
            </div>
          </div>
          
          <div>
            <form [class]="documentosList.length > 0 ? 'w-100 d-flex justify-content-end align-items-center mt-4' : 'w-100 d-flex justify-content-between align-items-center mt-4'">
              <span *ngIf="documentosList.length <= 0">
                No hay notas añadidas por el momento
              </span>
              <input type="file" accept="application/pdf" style="display: none;" id="newFile" (change)="addNote($event)">
            </form>
          </div>
        </div>


      </mat-tab>
    </mat-tab-group>

    <button matTooltip="Guardar" matTooltipPosition="left" class="btn-flotante btn-flotante-3" mat-fab style="background: #334ebd;" (click)="onSubmit()">
      <mat-icon>save</mat-icon>
    </button>
</div>