<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
        </div>
      </div>
    </div>
</div>

<div class="container-fluid ">
  <div class="row">
    <div class="col">
      <div class="card shadow hola">
        <div class="card-body">
          <form [formGroup]="detailFormGroup" style="position: relative; z-index: 1000;">
            <div class="row">
              <div class="col-sm-12">
                <mat-card appearance="outlined">
                  <mat-card-content>
                    <div class="row justify-content-center">
                      <div class="col-sm-4 mx-auto">
                        <h5 class="text-center"><strong>Ramo</strong></h5>
                        <p class="text-center">{{ramo}}</p>
                      </div>
                      <div class="col-sm-4 mx-auto">
                        <h5 class="text-center"><strong>Asegurado</strong></h5>
                        <p class="text-center">{{asegurado}}</p>
                      </div>
                      <div class="col-sm-4 mx-auto">
                        <h5 class="text-center"><strong>Tomador</strong></h5>
                        <p class="text-center">{{tomador}}</p>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>