<div class="container-fluid ">
  <div class="row">
    <div class="col">
      <div class="card shadow hola">
        <div class="card-body">
          <div style="position: relative; z-index: 1000;" *ngIf="poliza">
            <mat-card appearance="outlined" >
              <mat-card-content>
                <div class="row justify-content-center" style="row-gap: 15px;">
                  <div class="col-sm-3">
                    <div class="d-flex align-items-center">
                      <span class="text-center"><strong>Poliza: </strong>{{poliza.xpoliza}}</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="d-flex align-items-center">
                      <span class="text-center"><strong>Fecha Creación: </strong>{{poliza.fcreacion}}</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="d-flex align-items-center justify-content-end">
                      <button *ngIf="poliza.iestado" type="button" mat-raised-button color="warn" (click)="changePolicy(poliza.cpoliza, 'disable')">Anular Póliza</button>
                      <button *ngIf="!poliza.iestado" type="button" mat-raised-button color="primary" (click)="changePolicy(poliza.cpoliza, 'enable')">Habilitar Póliza</button>
                      <!-- <i class="fi fi-tr-money-transfer-coin-arrow me-2" style="font-size: 20px;"></i>
                      <span class="text-center"><strong>Tasa de Cambio: </strong>{{cmoneda}}{{bcv}}</span> -->
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="d-flex align-items-center ">
                      <span class="text-center"><strong>Asegurado: </strong>{{poliza.asegurado.xnombre}} {{poliza.asegurado.xapellido}}</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="d-flex align-items-center">
                      <span class="text-center"><strong>Tomador: </strong>{{poliza.tomador.xnombre}} {{poliza.tomador.xapellido}}</span>
                    </div>
                  </div>
                  <div class="col-sm-6 ">
                    <div class="d-flex align-items-center justify-content-end">
                      <span class="text-center"><strong>Cedente: </strong>{{poliza.cedente.persona.xnombre}}</span>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

            <div class="d-flex flex-column mt-5" *ngIf="poliza">
              <h5><strong>Vigencias</strong></h5>
              <mat-accordion class="mt-3">
                <mat-expansion-panel *ngFor="let vigencia of poliza.vigencias; let i = index">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong class="me-2">{{i+1}}. </strong> {{vigencia.fdesde}} - {{vigencia.fhasta}}
                    </mat-panel-title>
                    <mat-panel-description class="text-end justify-content-between">
                      <span><small>Monto Prima:</small> {{vigencia.moneda.xrepresentacion}} {{formatWithSeparator(vigencia.mprimaext)}}</span>
                      <span><small>Estatus:</small> {{vigencia.estado}}</span>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="">
                    <hr class="my-3">
                    <h3 style="font-family: system-ui; text-transform: uppercase;"><strong>Información Técnica del Contrato</strong></h3>
                    <hr class="my-3">
                    <div class="row py-4">
                      <div class="col-sm-3">
                        <div class="d-flex align-items-center">
                          <span class="text-center"><strong>Fecha Desde: </strong>{{vigencia.fdesde}}</span>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="d-flex align-items-center">
                          <span class="text-center"><strong>Fecha Hasta: </strong>{{vigencia.fhasta}}</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="d-flex align-items-center">
                          <span class="text-center"><strong>Metodología de Pago: </strong>{{vigencia.metodologia_pago.xmetodologiapago}}</span>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="d-flex align-items-center justify-content-end">
                          <span class="text-center"><strong>Moneda: </strong>{{vigencia.moneda.xmoneda}}</span>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="d-flex align-items-center">
                          <span *ngIf="vigencia.producto?.ramo" class="text-center"><strong>Ramo: </strong>{{vigencia.producto.ramo.xramo}}</span>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                          <span *ngIf="vigencia.producto" class="text-center"><strong>Producto: </strong>{{vigencia.producto.xproducto}}</span>
                        </div>
                      </div>
                      
                      <div class="col-sm-3">
                        <div class="d-flex align-items-center justify-content-end">
                          <button *ngIf="vigencia.iestado == 'V'" type="button" mat-raised-button color="warn" (click)="changeContract(vigencia.cvigencia, 'disable')">Anular Vigencia</button>
                          <button *ngIf="vigencia.iestado == 'A'" type="button" mat-raised-button color="primary" (click)="changeContract(vigencia.cvigencia, 'enable')">Habilitar Vigencia</button>
                        </div>
                      </div>
                    </div>
                    <hr class="my-3">
                    <h3 style="font-family: system-ui; text-transform: uppercase;"><strong>Detalles de Montos</strong></h3>
                    <hr class="my-3">
                    <div class="row py-4">
                      <div class="col-md-3">
                        <h5 class="text-center"><strong>Suma Asegurada</strong></h5>
                        <mat-form-field class="example-full-width">
                          <input disabled matInput [value]="formatWithSeparator(vigencia.msumaext)" type="text">
                          <span matSuffix>{{vigencia.moneda.xrepresentacion}} &nbsp;</span>
                        </mat-form-field>
                        <div class="small-text">
                          <h5>Suma Asegurada en Bs: {{formatWithSeparator(vigencia.msuma)}}</h5>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <h5 class="text-center"><strong>Prima</strong></h5>
                        <mat-form-field class="example-full-width">
                          <input disabled matInput [value]="formatWithSeparator(vigencia.mprimaext)" type="text">
                          <span matSuffix>{{vigencia.moneda.xrepresentacion}} &nbsp;</span>
                        </mat-form-field>
                        <div class="small-text">
                          <h5>Prima en Bs: {{formatWithSeparator(vigencia.mprima)}}</h5>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <h5 class="text-center"><strong>Porcentaje de Comision</strong></h5>
                        <mat-form-field class="example-full-width">
                          <input disabled matInput [value]="formatWithSeparator(vigencia.pcomision)" type="text">
                          <span matSuffix>% &nbsp;</span>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <h5 class="text-center"><strong>Comision</strong></h5>
                        <mat-form-field class="example-full-width">
                          <input disabled matInput [value]="formatWithSeparator(vigencia.mcomisionext)" type="text">
                          <span matSuffix>{{vigencia.moneda.xrepresentacion}} &nbsp;</span>
                        </mat-form-field>
                        <div class="small-text">
                          <h5>Comision en Bs: {{formatWithSeparator(vigencia.mcomision)}}</h5>
                        </div>
                      </div>
                    </div>
                    <hr class="my-3">
                    <mat-tab-group  mat-align-tabs="center">
                      <mat-tab label="Recibos"> 
                        <div class="d-flex justify-content-center mt-3">
                          <table class="table table-striped custom-table">
                            <thead>
                              <tr>
                                <th scope="col"><strong class="header-table-receipt">Cuota</strong></th>
                                <th scope="col"><strong class="header-table-receipt">Fecha Desde</strong></th>
                                <th scope="col"><strong class="header-table-receipt">Fecha Hasta</strong></th>
                                <th scope="col"><strong class="header-table-receipt">Monto (Bs.)</strong></th>
                                <th scope="col"><strong class="header-table-receipt">Monto (Ext.)</strong></th>
                                <th scope="col"><strong class="header-table-receipt">Estado</strong></th>
                                <th scope="col"><strong class="header-table-receipt">Fecha de Cobro</strong></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr scope="row" *ngFor="let item of vigencia.recibos">
                                <td style="white-space: nowrap">{{ item.ncuota }}</td>
                                <td style="white-space: nowrap">{{ formatDate(item.fdesde_rec) }}</td>
                                <td style="white-space: nowrap">{{ formatDate(item.fhasta_rec) }}</td>
                                <td style="white-space: nowrap">{{ item.fcobro ? formatWithSeparator(item.mprima) : '*' + formatWithSeparator(item.mprimaext * bcv) }} Bs. </td>
                                <td style="white-space: nowrap">{{ formatWithSeparator(item.mprimaext) }} {{vigencia.moneda?.xrepresentacion}}</td>
                                <td [ngClass]="{'red-text': item.iestadorec === 'P', 'green-text': item.iestadorec === 'C'}">
                                  {{ item.estado }}
                                </td>
                                <td style="white-space: nowrap">{{ item.fcobro ? formatDate(item.fcobro) : 'Sin Cobrar' }}</td>
                                <td style="white-space: nowrap">
                                  <!-- Mostrar el botón si xruta_rec está vacío -->
                                  <button *ngIf="!item.fcobro && (item.ncuota == vigencia.receiptP)" class="button" (click)="onCobrar(item)">
                                    Cobrar
                                  </button>
                            
                                  <!-- Mostrar el enlace si xruta_rec tiene información -->
                                  <a *ngIf="item.documento?.xruta" [href]="item.documento.xruta" target="_blank">
                                    Ver comprobante
                                  </a>
                                </td>
                              </tr>
                            </tbody>

                            <div style="display: grid;place-items: center;" class="mt-4" mat-align-tabs="center">
                              <ngb-pagination
                              *ngIf="receiptList.length > 0"
                              [collectionSize]="receiptList.length"
                              [(page)]="pageReceipt"
                              [pageSize]="pageReceiptSize"
                              [maxSize]="1"
                              [previousLabel]="'‹'"
                              [nextLabel]="'›'"
                              [boundaryLinks]="true"
                              [ellipses]="false"
                              (pageChange)="onPageChange()"
                            ></ngb-pagination>
                            </div>
                          </table>

                        </div>
                      </mat-tab>
                      <mat-tab label="Documentos"> 
                        <div class="container" style="padding: 0 24px 24px 24px;">
                          <button type="button" style="padding: 10px 14px; position: absolute; top: 10px; right: 10px;" class="btn btn-primary m-0" (click)="addFile('newFile')">
                            <i class="fa-solid fa-plus"></i>
                          </button>
                            
                          <div style="margin-top: 3.5rem;" *ngIf="vigencia.documentos.length > 0">
                  
                            <div *ngFor="let nota of vigencia.documentos | slice: (pageNotas - 1) * pageSize : (pageNotas - 1) * pageNotasSize + pageNotasSize; index as i" class="row mt-4 added-note">
                              <form class="col-md-5 d-flex align-items-center">  
                                <input  class="input-mat" type="text"
                                placeholder="Titulo del Documento"
                                [(ngModel)]="nota.xtitulo"
                                [value]="nota.xtitulo"
                                matInput
                                >
                              </form>
                              <div class="col-md-5 d-flex align-items-center">
                                <a style="text-decoration: none;" target="_blank" [href]="nota.xruta">
                                  <span style="color: black;">{{nota.xarchivo}}</span>
                                  <i class="ml-1 fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                              </div>
                              <div class="col-md-1 d-flex align-items-center justify-content-end">
                                <button matTooltip="Eliminar Archivo" (click)="removeNote(i, vigencia)" style="padding: 10px 14px;" class="btn btn-primary">
                                  <i class="fa-solid fa-trash"></i>
                                </button>
                              </div>
                              <div *ngIf="!nota.cdocumento" class="col-md-1 d-flex align-items-center justify-content-end">
                                <button matTooltip="Guardar Archivo" (click)="createNote(i, vigencia)" style="padding: 10px 14px;" class="btn btn-primary">
                                  <i class="fa-solid fa-floppy-disk"></i>
                                </button>
                              </div>
                            </div>
                            <div style="display: grid;place-items: center;" class="mt-4">
                              <ngb-pagination
                              *ngIf="vigencia.documentos.length > 0"
                              [collectionSize]="vigencia.documentos.length" 
                              [(page)]="pageNotas" 
                              [pageSize]="pageNotasSize"
                              [maxSize]="1"
                              [previousLabel]="'‹'"
                              [nextLabel]="'›'"
                              [boundaryLinks]="true"
                              [ellipses]="false"
                              
                              ></ngb-pagination>
                            </div>
                          </div>
                          
                          <div>
                            <form [class]="vigencia.documentos.length > 0 ? 'w-100 d-flex justify-content-end align-items-center mt-4' : 'w-100 d-flex justify-content-between align-items-center mt-4'">
                              <span *ngIf="vigencia.documentos.length <= 0">
                                No hay documentos añadidos por el momento
                              </span>
                              <input type="file" accept="application/pdf" style="display: none;" id="newFile" (change)="addNote($event, vigencia)">
                            </form>
                          </div>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
            </div>

            

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>