<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
        </div>
      </div>
    </div>
</div>

<div class="container-fluid ">
  <div class="row">
    <div class="col">
      <div class="card shadow hola">
        <div class="card-body">
          <form [formGroup]="detailFormGroup" style="position: relative; z-index: 1000;">
            <div class="row">
              <div class="col-sm-12">
                <mat-card appearance="outlined" style="background: #cad8eb;">
                  <mat-card-content>
                    <div class="row justify-content-center">
                      <div class="col-sm-4 mx-auto">
                        <h5 class="text-center"><strong>Ramo</strong></h5>
                        <p class="text-center" style="font-weight: 500;">{{ramo}}</p>
                      </div>
                      <div class="col-sm-4 mx-auto">
                        <h5 class="text-center"><strong>Asegurado</strong></h5>
                        <p class="text-center" style="font-weight: 500;">{{asegurado}}</p>
                      </div>
                      <div class="col-sm-4 mx-auto">
                        <h5 class="text-center"><strong>Tomador</strong></h5>
                        <p class="text-center" style="font-weight: 500;">{{tomador}}</p>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>

            <div class="d-flex justify-content-center py-4" style="gap: 10px;">
              <i class="fi fi-tr-money-transfer-coin-arrow" style="font-size: 20px;"></i>
              <strong>Tasa de Cambio:</strong> {{bcv}}
            </div>

            <div class="d-flex justify-content-center" style="gap: 10px;">
              <i class="fi fi-ts-ad-paid" style="font-size: 20px;"></i>
              <strong>Metodología de Pago:</strong> {{metodologia}}
            </div>

            <div class="row py-4">
              <div class="col-sm-6">
                <h3 class="text-center" style="font-family: system-ui; margin-bottom: -24px;"><strong>Información Técnica del Contrato</strong></h3>
                <hr class="black-hr">
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="text-center"><strong>Fecha Desde</strong></h5>
                    <div>
                      <input type="date" formControlName="fdesde" class="custom-input" (change)="calcularFechaHasta()">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h5 class="text-center"><strong>Fecha Hasta</strong></h5>
                    <div>
                      <input type="date" formControlName="fhasta" class="custom-input">
                    </div>
                  </div>
                </div>

                <div class="row py-2">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <h5 class="text-center"><strong>Cedentes</strong></h5>
                      <input type="text"
                             aria-label="Seleccione"
                             matInput
                             [formControl]="cedentsControl"
                             [matAutocomplete]="cedents"
                             formControlName="xcedente"
                             required>
                             <mat-autocomplete #cedents="matAutocomplete" (optionSelected)="onCedentSelection($event)">
                              <mat-option *ngFor="let cedents of filteredCedents | async" [value]="cedents">
                                {{ cedents }}
                              </mat-option>
                            </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <h5 class="text-center"><strong>Moneda</strong></h5>
                      <input type="text"
                             aria-label="Seleccione"
                             matInput
                             [formControl]="coinsControl"
                             [matAutocomplete]="coins"
                             formControlName="xmoneda"
                             required>
                      <mat-autocomplete #coins="matAutocomplete" (optionSelected)="onCoinSelection($event)">
                        <mat-option *ngFor="let coin of filteredCoins | async" [value]="coin">
                          {{ coin }} <!-- Mostrar el valor de la moneda -->
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">

                </div>
              </div>
              <div class="col-sm-6">
                <h3 class="text-center" style="font-family: system-ui; margin-bottom: -24px;"><strong>Detalles de la Operación</strong></h3>
                <hr class="black-hr">
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="text-center"><strong>Póliza</strong></h5>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="xpoliza">
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <h5 class="text-center"><strong>Suma Asegurada</strong></h5>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="msuma_aseg" type="text" (input)="formatWithSeparator($event)" (change)="SumBs()">
                    </mat-form-field>
                    <div class="small-text">
                      <h5>Suma Asegurada en Bs: {{msuma_aseg_bs}}</h5>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h5 class="text-center"><strong>Prima</strong></h5>
                    <mat-form-field class="example-full-width">
                      <input matInput formControlName="mprima" type="text" (input)="formatPrima($event)" (change)="PrimaBs()">
                    </mat-form-field>
                    <div class="small-text">
                      <h5>Prima en Bs: {{mprima_bs}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <mat-tab-group  mat-align-tabs="center">
              <mat-tab label="Recibos"> 
                <div class="d-flex justify-content-center mt-3">
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">N° Recibo</strong></th>
                        <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Desde</strong></th>
                        <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Hasta</strong></th>
                        <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Monto</strong></th>
                        <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Estado</strong></th>
                        <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha de Cobro</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr scope="row" *ngFor="let item of paginatedList">
                        <td style="white-space: nowrap">{{ item.nrecibo }}</td>
                        <td style="white-space: nowrap">{{ item.fdesde_rec }}</td>
                        <td style="white-space: nowrap">{{ item.fhasta_rec }}</td>
                        <td style="white-space: nowrap">{{ item.mprima | currency }}</td>
                        <td [ngClass]="{'red-text': item.iestadorec === 'P', 'green-text': item.iestadorec === 'C'}">
                          {{ item.iestadorec_t }}
                        </td>
                        <td style="white-space: nowrap">{{ item.fcobrorec }}</td>
                        <td style="white-space: nowrap">
                          <!-- Mostrar el botón si xruta_rec está vacío -->
                          <button *ngIf="!item.xruta_rec && !item.fcobrorectext" class="button" (click)="onCobrar(item)">
                            Cobrar
                          </button>
                    
                          <!-- Mostrar el enlace si xruta_rec tiene información -->
                          <a *ngIf="item.xruta_rec" [href]="item.xruta_rec" target="_blank">
                            Ver comprobante
                          </a>
                        </td>
                      </tr>
                    </tbody>

                    <div style="display: grid;place-items: center;" class="mt-4" mat-align-tabs="center">
                      <ngb-pagination
                      *ngIf="receiptList.length > 0"
                      [collectionSize]="receiptList.length"
                      [(page)]="pageReceipt"
                      [pageSize]="pageReceiptSize"
                      [maxSize]="1"
                      [previousLabel]="'‹'"
                      [nextLabel]="'›'"
                      [boundaryLinks]="true"
                      [ellipses]="false"
                      (pageChange)="onPageChange()"
                    ></ngb-pagination>
                    </div>
                  </table>

                </div>
              </mat-tab>
              <mat-tab label="Documentos"> 
                <div class="container" style="padding: 0 24px 24px 24px;">
                  <button type="button" style="padding: 10px 14px; position: absolute; top: 10px; right: 10px;" class="btn btn-primary m-0" (click)="addFile('newFile')">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                    
                  <div style="margin-top: 3.5rem;" *ngIf="documentosList.length > 0">
          
                    <div *ngFor="let nota of documentosList | slice: (pageNotas - 1) * pageSize : (pageNotas - 1) * pageNotasSize + pageNotasSize; index as i" class="row mt-4 added-note">
                      <form class="col-md-5 d-flex align-items-center">  
                        <input  class="input-mat" type="text"
                        placeholder="Titulo del Documento"
                        [(ngModel)]="nota.xtitulo"
                        [value]="nota.xtitulo"
                        matInput
                        >
                      </form>
                      <div class="col-md-6 d-flex align-items-center">
                        <a style="text-decoration: none;" target="_blank" [href]="nota.xruta">
                          <span style="color: black;">{{nota.xnombrenota}}</span>
                          <i class="ml-1 fa-solid fa-arrow-up-right-from-square"></i>
                        </a>
                      </div>
                      <div class="col-md-1 d-flex align-items-center justify-content-end">
                        <button (click)="removeNote(i)" style="padding: 10px 14px;" class="btn btn-primary">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </div>
                    <div style="display: grid;place-items: center;" class="mt-4">
                      <ngb-pagination
                      *ngIf="documentosList.length > 0"
                      [collectionSize]="documentosList.length" 
                      [(page)]="pageNotas" 
                      [pageSize]="pageNotasSize"
                      [maxSize]="1"
                      [previousLabel]="'‹'"
                      [nextLabel]="'›'"
                      [boundaryLinks]="true"
                      [ellipses]="false"
                      
                      ></ngb-pagination>
                    </div>
                  </div>
                  
                  <div>
                    <form [class]="documentosList.length > 0 ? 'w-100 d-flex justify-content-end align-items-center mt-4' : 'w-100 d-flex justify-content-between align-items-center mt-4'">
                      <span *ngIf="documentosList.length <= 0">
                        No hay documentos añadidos por el momento
                      </span>
                      <input type="file" accept="application/pdf" style="display: none;" id="newFile" (change)="addNote($event)">
                    </form>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            <div class="row py-3" *ngIf="primaAlterada">
              <div class="col-sm-12">
                <mat-accordion class="example-headers-align expansion_notificacion" multi>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header style="background-color: #cad8eb;">
                      <mat-panel-title style="font-weight: 500; color: black;">
                          Recibos Actualizados según Prima
                      </mat-panel-title>
                    </mat-expansion-panel-header>



                
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>

            <button matTooltip="Editar Contrato" 
                    matTooltipPosition="left" 
                    class="btn-flotante btn-flotante-3" 
                    mat-fab 
                    style="background: #334ebd;" 
                    (click)="editContract()"
                    *ngIf="edit">
              <mat-icon>edit</mat-icon>
            </button>

            <button matTooltip="Cancelar" 
                    matTooltipPosition="left" 
                    class="btn-flotante btn-flotante-1" 
                    mat-fab 
                    style="background: #334ebd;" 
                    (click)="cancelEdit()"
                    *ngIf="!edit">
              <mat-icon>cancel</mat-icon>
            </button>

            <button matTooltip="Guardar" 
                    matTooltipPosition="left" 
                    class="btn-flotante btn-flotante-2" 
                    mat-fab 
                    style="background: #334ebd;" 
                    (click)="onSubmit()"
                    *ngIf="!edit">
              <mat-icon>save</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>