/* You can add global styles to this file, and also import other style files */
@import '~@flaticon/flaticon-uicons/css/all/all.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-full-width {
    width: 100%;
}

.m-s-items {
    width: 100%;
    font-size: 12px;
    height: 70px !important;
    white-space: pre-wrap !important;
    overflow: hidden !important;
    line-height: 18px !important;
    background: transparent;
    border: 1px solid #E3E3E3;
    padding: 7px 7px;
    margin: 3px 0px;
    border-radius: 10px;
    transition: background 0.15s ease-in-out;
  }
  @media screen and (max-width: 780px) {
    .m-s-items {
      height: 50px;  
    }
  }
  @media screen and (max-width: 425px) {
    .m-s-items {
      height: 50px;
      width: 100%;  
    }

  }
.m-s-items:hover {
  background: #00000024 ;
}
.m-s-items.sub-item {
    align-items: center;
    margin: 0px !important;
}
.m-s-items > small {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    font-weight: 700;
  }

  // body {
  //   background-color: #dadcfb !important;
  //   overflow-x: hidden;
  // }
  #main {
    position: relative;
    min-height: 85.5vh;
    padding-bottom: 39px;
  }
  .footer-layout {
    height: 14.5vh;
  }
  .btn-flotante {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
  }
  
  .btn-flotante button {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: #d6af00;
    padding: 18px 30px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .btn-flotante button:hover {
    background-color: #d6af00;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  
  @media only screen and (max-width: 600px) {
    .btn-flotante button {
      font-size: 14px;
      padding: 12px 20px;
    }
  }

  .btn-flotante-3 { /* Ajusta este valor para el tercer botón */
    right: 22px;

  }

  .mat-expansion-panel-header-description, .mat-expansion-indicator::after{
    color: rgb(255 255 255 / 54%);
}

.table-responsive {
  overflow: auto;
  padding-bottom: 10px;
}

.hola {
  background-image: url('./assets/fonts/nucleo/font.png');
  background-size: cover;
  border-radius: 3px; /* Ajusta este valor según la cantidad de redondez que desees */
  max-width: 100%;
}

.hola::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Ajusta el valor de alfa (el último número) para la transparencia deseada */
  border-radius: 3px; /* Ajusta este valor según la cantidad de redondez que desees */
}

.hola::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/fonts/nucleo/font.png');
  background-size: cover;
  opacity: 0.8; /* Ajusta este valor según la transparencia deseada (0 = totalmente transparente, 1 = totalmente opaco) */
  border-radius: 3px; /* Ajusta este valor según la cantidad de redondez que desees */
  max-width: 100%;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{
  color: rgb(0 0 0 / 78%);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #5e72e4;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(51 78 189);
}

input, textarea {
  text-transform: uppercase;
}

.mat-menu-panel {
  min-width: 112px;
  max-width: none !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px;
  position: relative;
}