<div class="row justify-content-center">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon>directions_car</mat-icon>
             Vehiculo
          </ng-template>
        <form [formGroup]="vehicleFormGroup">
            <div class="col-md-5 py-2 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Año</mat-label>
                  <input matInput placeholder="Inserte el Año del Vehiculo" formControlName="fano" (change)="changeYears()">
                </mat-form-field>
            </div>
            <div class="flex">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Marca</mat-label>
                      <input type="text"
                             placeholder="Seleccione Marca"
                             aria-label="Seleccione"
                             matInput
                             [formControl]="brandControl"
                             [matAutocomplete]="brand"
                             >
                             <mat-autocomplete #brand="matAutocomplete" (optionSelected)="onBrandSelection($event)">
                              <mat-option *ngFor="let brand of filteredBrand | async" [value]="brand">
                                {{ brand }}
                              </mat-option>
                            </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Modelo</mat-label>
                      <input type="text"
                            placeholder="Seleccione Modelo"
                            aria-label="Seleccione"
                            matInput
                            [formControl]="modelControl"
                            [matAutocomplete]="model"
                            >
                            <mat-autocomplete #model="matAutocomplete" (optionSelected)="onModelSelection($event)">
                              <mat-option *ngFor="let model of filteredModel | async" [value]="model">
                                {{ model }}
                              </mat-option>
                            </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Version</mat-label>
                      <input type="text"
                            placeholder="Seleccione Version"
                            aria-label="Seleccione"
                            matInput
                            [formControl]="versionControl"
                            [matAutocomplete]="version"
                           >
                            <mat-autocomplete #version="matAutocomplete" (optionSelected)="onVersionSelection($event)">
                              <mat-option *ngFor="let version of filteredVersion | async" [value]="version">
                                {{ version }}
                              </mat-option>
                            </mat-autocomplete>
                    </mat-form-field>
                  </div>
            </div>
            <div class="flex">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Pasajeros</mat-label>
                      <input matInput formControlName="npasajeros" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Color</mat-label>
                        <input type="text"
                              placeholder="Seleccione Color"
                              aria-label="Seleccione"
                              matInput
                              [formControl]="colorControl"
                              [matAutocomplete]="color"
                              >
                              <mat-autocomplete #color="matAutocomplete" (optionSelected)="onColorSelection($event)">
                                <mat-option *ngFor="let color of filteredColor | async" [value]="color">
                                  {{ color }}
                                </mat-option>
                              </mat-autocomplete>
                      </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Placa</mat-label>
                      <input matInput placeholder="Placa" formControlName="xplaca" [maxlength]="7" (input)="valueplate($event)">
                    </mat-form-field>
                  </div>
            </div>
        </form> 

      </mat-tab>
      <mat-tab> 
        <ng-template mat-tab-label>
            <mat-icon>checklist</mat-icon>
               Coberturas
        </ng-template>
        <div class="col-sm-8 mx-auto py-5">
          <mat-form-field class="example-full-width">
            <mat-label>Planes</mat-label>
            <input type="text"
                  placeholder="Seleccione Plan"
                  aria-label="Seleccione"
                  matInput
                  [formControl]="planControl"
                  [matAutocomplete]="planes"
                  >
            <mat-autocomplete #planes="matAutocomplete" (optionSelected)="onPlanSelection($event)">
              <mat-option *ngFor="let planes of filteredPlan | async" [value]="planes">
                {{ planes }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab>  
        <ng-template mat-tab-label>
            <mat-icon>receiptlong</mat-icon>
            Recibos
        </ng-template>
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Desde</strong></th>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Hasta</strong></th>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Monto</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let item of receiptList">
              <td style="white-space: nowrap">{{ item.fdesde_rec }}</td>
              <td style="white-space: nowrap">{{ item.fhasta_rec }}</td>
              <td style="white-space: nowrap">{{ item.mprima }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab> 
        <ng-template mat-tab-label>
          <i class="fi fi-sr-users" style="font-size: 20px;"></i>
          &nbsp;Participaciones
        </ng-template> 
        <form [formGroup]="vehicleFormGroup">
          <div style="display: flex; text-align: center;">
            
            <div class="col-sm-5 mx-auto py-3">
              <mat-form-field class="example-full-width">
                <mat-label>Productor</mat-label>
                <input matInput formControlName="xproductor">
              </mat-form-field>
            </div>

            <div class="col-sm-2 mx-auto py-3">
              <mat-form-field class="example-full-width">
                <mat-label>Comisión</mat-label>
                <input matInput formControlName="pcomision_p" (change)="commissionSumValidator()">
              </mat-form-field>
            </div>

        </div>
          <div style="display: flex; text-align: center;">
            
              <div class="col-sm-5 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Ejecutivos</mat-label>
                  <input type="text"
                        placeholder="Seleccione Ejecutivos"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="executiveControl"
                        [matAutocomplete]="executive"
                        formControlName="xejecutivo"
                        required>
                  <mat-autocomplete #executive="matAutocomplete" (optionSelected)="onExecutiveSelection($event)">
                    <mat-option *ngFor="let executive of filteredExecutive | async" [value]="executive">
                      {{ executive }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-sm-2 mx-auto">
                <mat-form-field class="example-full-width">
                  <mat-label>Comisión</mat-label>
                  <input matInput placeholder="Coloque Comision para Ejecutivo" formControlName="pcomision_e" (change)="commissionSumValidator()">
                </mat-form-field>
              </div>

          </div>

          <div style="display: flex; text-align: center;" *ngIf="Agents">
            <div class="col-sm-5 mx-auto">
              <mat-form-field class="example-full-width">
                <mat-label>Agentes</mat-label>
                <input type="text"
                      placeholder="Seleccione Agente"
                      aria-label="Seleccione"
                      matInput
                      [formControl]="agentsControl"
                      [matAutocomplete]="agents"
                      required>
                <mat-autocomplete #agents="matAutocomplete" (optionSelected)="onAgentsSelection($event)">
                  <mat-option *ngFor="let agents of filteredAgents | async" [value]="agents">
                    {{ agents }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-sm-2 mx-auto">
              <mat-form-field class="example-full-width">
                <mat-label>Comisión</mat-label>
                <input matInput placeholder="Coloque Comision para Agente" formControlName="pcomision_a" (change)="commissionSumValidator()">
              </mat-form-field>
            </div>

        </div>
        <div class="text-center py-3">
          <p><strong>Total Comisión: </strong>{{commissionSum}}%</p>
        </div>
        </form>
      </mat-tab>
    </mat-tab-group>
</div>