<div class="row justify-content-center">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab *ngIf="this.receiptData.cramo == 27"> 
        <ng-template mat-tab-label>
            <mat-icon>directions_car</mat-icon>
             Vehiculo
          </ng-template>
        <form class="d-flex justify-content-between" [formGroup]="vehicleFormGroup">
          <div class="row py-4">
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Año</mat-label>
                  <input matInput placeholder="Inserte el Año del Vehiculo" formControlName="fano" (change)="changeYears()">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Marca</mat-label>
                  <input type="text"
                          placeholder="Seleccione Marca"
                          aria-label="Seleccione"
                          matInput
                          [formControl]="brandControl"
                          [matAutocomplete]="brand"
                          >
                          <mat-autocomplete #brand="matAutocomplete" (optionSelected)="onBrandSelection($event)">
                          <mat-option *ngFor="let brand of filteredBrand | async" [value]="brand">
                            {{ brand }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>Modelo</mat-label>
                <input type="text"
                      placeholder="Seleccione Modelo"
                      aria-label="Seleccione"
                      matInput
                      [formControl]="modelControl"
                      [matAutocomplete]="model"
                      >
                      <mat-autocomplete #model="matAutocomplete" (optionSelected)="onModelSelection($event)">
                        <mat-option *ngFor="let model of filteredModel | async" [value]="model">
                          {{ model }}
                        </mat-option>
                      </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-label>Version</mat-label>
                <input type="text"
                      placeholder="Seleccione Version"
                      aria-label="Seleccione"
                      matInput
                      [formControl]="versionControl"
                      [matAutocomplete]="version"
                      >
                      <mat-autocomplete #version="matAutocomplete" (optionSelected)="onVersionSelection($event)">
                        <mat-option *ngFor="let version of filteredVersion | async" [value]="version">
                          {{ version }}
                        </mat-option>
                      </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                  <mat-label>Color</mat-label>
                  <input type="text"
                        placeholder="Seleccione Color"
                        aria-label="Seleccione"
                        matInput
                        [formControl]="colorControl"
                        [matAutocomplete]="color"
                        >
                        <mat-autocomplete #color="matAutocomplete" (optionSelected)="onColorSelection($event)">
                          <mat-option *ngFor="let color of filteredColor | async" [value]="color">
                            {{ color }}
                          </mat-option>
                        </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <mat-label>Placa</mat-label>
                <input matInput placeholder="Placa" formControlName="xplaca" [maxlength]="7" (input)="valueplate($event)">
              </mat-form-field>
            </div>
          </div>
          <div>
            <button type="button" matTooltip="SOLO en caso de que NO este registrado anteriormente." matTooltipPosition="right" mat-button mat-fab color="priamry" (click)="newVehiculo = true">
                <mat-icon>add</mat-icon>
              </button>
              <div id="item-create" class="item-create" *ngIf="newVehiculo" (click)="checkClickOutside($event, 'newVehiculo')">
                <app-item-form [dataComponent]="vehiculoDataComponent" (created)="clearVehiculo(); this.newVehiculo = false"></app-item-form>
              </div>
            </div>
        </form> 

      </mat-tab>
      <mat-tab>  
        <ng-template mat-tab-label>
            <mat-icon>receiptlong</mat-icon>
            Recibos
        </ng-template>
        <table class="table table-striped custom-table">
          <thead>
            <tr>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Desde</strong></th>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Fecha Hasta</strong></th>
              <th scope="col"><strong style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Monto</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let item of receiptList">
              <td style="white-space: nowrap">{{ item.fdesde_rec }}</td>
              <td style="white-space: nowrap">{{ item.fhasta_rec }}</td>
              <td style="white-space: nowrap">{{ item.mprimaext }}</td>
            </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab> 
        <ng-template mat-tab-label>
          <i class="fi fi-sr-users" style="font-size: 20px;"></i>
          &nbsp;Participación
        </ng-template> 
        <form [formGroup]="vehicleFormGroup">
          <div class="container">
            <!-- Primer grupo -->
            <div class="group" style="margin-top: 25px;">
              <!-- <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Productor</mat-label>
                  <input matInput formControlName="xproductor">
                </mat-form-field>
              </div> -->
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Porcentaje de Participacion</mat-label>
                  <input matInput formControlName="pcomision" (change)="commissionSumValidator()">
                </mat-form-field>
              </div>
          
              <div class="field">
                <mat-form-field class="example-full-width">
                  <mat-label>Monto Comisión</mat-label>
                  <input matInput formControlName="mcomision">
                </mat-form-field>
                <div class="small-text">
                  <h5>Monto en Bs: {{mcomision_bs}}</h5>
                </div>
              </div>
            </div> 
           
          </div>
          
          
          <div class="text-center py-3">
            <p><strong>Total Monto a Distribuir: </strong>{{vehicleFormGroup.get('mcomision')?.value}}</p>
            <p><strong>Total Porcentaje de Comisión: </strong>{{vehicleFormGroup.get('pcomision')?.value}}%</p>
          </div>
        </form>
      </mat-tab>
      <mat-tab>  
        <ng-template mat-tab-label>
            <mat-icon>receiptlong</mat-icon>
            Documentos
        </ng-template>

        <div class="container" style="padding: 0 24px 24px 24px;">
          <button type="button" style="padding: 10px 14px; position: absolute; top: 10px; right: 10px;" class="btn btn-primary m-0" (click)="addFile('newFile')">
            <i class="fa-solid fa-plus"></i>
          </button>
            
          <div style="margin-top: 3.5rem;" *ngIf="documentosList.length > 0">
  
            <div *ngFor="let nota of documentosList | slice: (pageNotas - 1) * pageSize : (pageNotas - 1) * pageNotasSize + pageNotasSize; index as i" class="row mt-4 added-note">
              <form class="col-md-5 d-flex align-items-center">  
                <input [disabled]="nota.type == 'create' ? false : true" class="input-mat" type="text"
                placeholder="Titulo del Documento"
                [(ngModel)]="nota.xtitulo"
                [value]="nota.xtitulo"
                matInput
                >
              </form>
              <div class="col-md-6 d-flex align-items-center">
                <a style="text-decoration: none;" target="_blank" [href]="nota.xruta">
                  <span style="color: black;">{{nota.xnombrenota}}</span>
                  <i class="ml-1 fa-solid fa-arrow-up-right-from-square"></i>
                </a>
              </div>
              <div *ngIf="nota.type == 'create'" class="col-md-1 d-flex align-items-center justify-content-end">
                <button (click)="removeNote(i)" style="padding: 10px 14px;" class="btn btn-primary">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
            <div style="display: grid;place-items: center;" class="mt-4">
              <ngb-pagination
              *ngIf="documentosList.length > 0"
              [collectionSize]="documentosList.length" 
              [(page)]="pageNotas" 
              [pageSize]="pageNotasSize"
              [maxSize]="1"
              [previousLabel]="'‹'"
              [nextLabel]="'›'"
              [boundaryLinks]="true"
              [ellipses]="false"
              
              ></ngb-pagination>
            </div>
          </div>
          
          <div>
            <form [class]="documentosList.length > 0 ? 'w-100 d-flex justify-content-end align-items-center mt-4' : 'w-100 d-flex justify-content-between align-items-center mt-4'">
              <span *ngIf="documentosList.length <= 0">
                No hay documentos añadidos por el momento
              </span>
              <input type="file" accept="application/pdf" style="display: none;" id="newFile" (change)="addNote($event)">
            </form>
          </div>
        </div>


      </mat-tab>
    </mat-tab-group>

    <button matTooltip="Guardar" matTooltipPosition="left" class="btn-flotante btn-flotante-3" mat-fab style="background: #334ebd;" (click)="onSubmit()">
      <mat-icon>save</mat-icon>
    </button>
</div>